.search{
  display: flex;
  justify-content: center;
  margin: 1em;
  transition: 0.5s ease-in-out;
}
.search:hover{
  transform: scale(1.02) ;
  transition: 0.5S ease-in-out;
}

.search input{
  background-color: #7077d7;
  border: 0;
  color: white;
}

.search button{
  background-color: #7077d7;
  color : white
}

